workflows/petcare-multichannel-router-v2.json
{
  "name": "PetCare Multichannel Router v2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.6,
      "position": [
        220,
        180
      ],
      "credentials": {
        "telegramApi": {
          "id": "replace-telegram-credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "petcare-intake",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        420
      ],
      "webhookId": "petcare-intake-webhook"
    },
    {
      "parameters": {
        "jsCode": "const message = $json.message || {};\nconst from = message.from || {};\nconst text = message.text || message.caption || '';\nreturn [{\n  json: {\n    channel: 'telegram',\n    source: 'telegram',\n    user_id: String(from.id || ''),\n    user_name: [from.first_name, from.last_name].filter(Boolean).join(' ').trim() || from.username || 'unknown',\n    contact: from.username ? `@${from.username}` : '',\n    message_text: text,\n    timestamp: new Date(($json.message?.date || Math.floor(Date.now() / 1000)) * 1000).toISOString(),\n    attachments: [],\n    raw_payload: $json\n  }\n}];"
      },
      "id": "normalize-telegram",
      "name": "Normalize Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nreturn [{\n  json: {\n    channel: body.channel || 'webhook',\n    source: 'webhook',\n    user_id: String(body.user_id || body.email || body.phone || 'anonymous'),\n    user_name: body.user_name || body.name || 'unknown',\n    contact: body.contact || body.email || body.phone || '',\n    message_text: body.message_text || body.message || body.text || '',\n    timestamp: body.timestamp || new Date().toISOString(),\n    attachments: body.attachments || [],\n    raw_payload: $json\n  }\n}];"
      },
      "id": "normalize-webhook",
      "name": "Normalize Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        420
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-channels",
      "name": "Merge Channels",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst systemPrompt = `You are an AI triage assistant for a veterinary clinic called PetCare Medellin.\\n\\nYour task is to classify each incoming message into exactly one of these categories:\\n- URGENCIA\\n- AGENDAMIENTO\\n- CONSULTA\\n- SEGUIMIENTO\\n- ADMINISTRATIVA\\n\\nRules:\\n- Return only valid JSON.\\n- Do not include markdown.\\n- Do not include extra text.\\n- Use exactly these keys: categoria, prioridad, justificacion.\\n- categoria must be one of: URGENCIA, AGENDAMIENTO, CONSULTA, SEGUIMIENTO, ADMINISTRATIVA\\n- prioridad must be one of: ALTA, MEDIA, BAJA\\n- justificacion must be a short sentence in Spanish.\\n- If the message suggests breathing problems, bleeding, seizures, poisoning, severe pain, trauma, collapse, or immediate danger, classify it as URGENCIA with prioridad ALTA.\\n- If the user wants to book, reschedule, or cancel an appointment, classify it as AGENDAMIENTO.\\n- If the user asks for business information or clinical information answerable from knowledge base, classify it as CONSULTA unless it is clearly administrative.\\n- If the user asks about the status of a previous case, request, treatment, or ongoing process, classify it as SEGUIMIENTO.\\n- If the user asks about schedules, billing, payments, location, certificates, or policies, classify it as ADMINISTRATIVA.\\n- If more than one category fits, choose the most operationally urgent one.\\n\\nReturn this exact JSON structure:\\n{\\n  \\\"categoria\\\": \\\"URGENCIA|AGENDAMIENTO|CONSULTA|SEGUIMIENTO|ADMINISTRATIVA\\\",\\n  \\\"prioridad\\\": \\\"ALTA|MEDIA|BAJA\\\",\\n  \\\"justificacion\\\": \\\"motivo breve\\\"\\n}`;\nconst userPrompt = `Clasifica el siguiente mensaje de un usuario de la clinica veterinaria.\\n\\nCanal: ${item.channel}\\nUsuario: ${item.user_name}\\nContacto: ${item.contact}\\nMensaje: ${item.message_text}\\nFecha: ${item.timestamp}\\n\\nDevuelve unicamente JSON valido.`;\nreturn [{ json: { ...item, system_prompt: systemPrompt, user_prompt: userPrompt } }];"
      },
      "id": "build-prompts",
      "name": "Build Triage Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.system_prompt }}"
            },
            {
              "role": "user",
              "content": "={{ $json.user_prompt }}"
            }
          ]
        },
        "responseFormat": "json_object"
      },
      "id": "triage-llm",
      "name": "Triage LLM",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [
        1180,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "replace-openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Build Triage Prompts').first().json;\nconst raw = $json;\nconst candidates = [\n  raw.text,\n  raw.content,\n  raw.message,\n  raw.output,\n  raw.response,\n  raw.data,\n  raw.choices?.[0]?.message?.content\n].filter(Boolean);\nlet triage = candidates[0] || raw;\nif (typeof triage === 'string') {\n  triage = JSON.parse(triage);\n}\nconst allowedCategories = ['URGENCIA', 'AGENDAMIENTO', 'CONSULTA', 'SEGUIMIENTO', 'ADMINISTRATIVA'];\nconst allowedPriorities = ['ALTA', 'MEDIA', 'BAJA'];\nif (!allowedCategories.includes(triage.categoria)) {\n  throw new Error(`Invalid categoria: ${triage.categoria}`);\n}\nif (!allowedPriorities.includes(triage.prioridad)) {\n  throw new Error(`Invalid prioridad: ${triage.prioridad}`);\n}\nif (!triage.justificacion) {\n  throw new Error('Missing justificacion');\n}\nreturn [{ json: { ...original, ...triage } }];"
      },
      "id": "validate-triage",
      "name": "Validate Triage JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "URGENCIA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "AGENDAMIENTO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "CONSULTA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "SEGUIMIENTO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "ADMINISTRATIVA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "route-category",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_VET_CHAT_ID",
        "text": "=URGENTE PetCare\\nCategoria: {{$json.categoria}}\\nPrioridad: {{$json.prioridad}}\\nUsuario: {{$json.user_name}}\\nCanal: {{$json.channel}}\\nMensaje: {{$json.message_text}}\\nJustificacion: {{$json.justificacion}}",
        "additionalFields": {}
      },
      "id": "notify-vet",
      "name": "Notify Vet",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 2.2,
      "position": [
        1920,
        60
      ],
      "credentials": {
        "telegramApi": {
          "id": "replace-telegram-credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  timestamp: new Date().toISOString(),\n  action: 'register_appointment_request',\n  channel: $json.channel,\n  user_id: $json.user_id,\n  user_name: $json.user_name,\n  contact: $json.contact,\n  categoria: $json.categoria,\n  prioridad: $json.prioridad,\n  message_text: $json.message_text,\n  justificacion: $json.justificacion\n} }];"
      },
      "id": "prepare-booking-record",
      "name": "Prepare Booking Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "consulta-reply",
              "name": "reply_text",
              "value": "Hemos recibido tu consulta. En la siguiente version esta rama se conectara al RAG de protocolos y FAQ para responder solo con informacion validada del negocio.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "consulta-placeholder",
      "name": "Consulta Placeholder Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "seguimiento-reply",
              "name": "reply_text",
              "value": "Recibimos tu mensaje de seguimiento. Lo registramos y el equipo revisara el estado del caso para responderte pronto.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "seguimiento-placeholder",
      "name": "Seguimiento Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "admin-reply",
              "name": "reply_text",
              "value": "Gracias por tu mensaje administrativo. Esta rama puede conectarse luego a plantillas para horarios, ubicacion, pagos y politicas.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "admin-placeholder",
      "name": "Admin Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        540
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_id }}",
        "text": "={{ $json.reply_text }}",
        "additionalFields": {}
      },
      "id": "reply-user",
      "name": "Reply to Telegram User",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 2.2,
      "position": [
        2180,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "replace-telegram-credentials",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Intake": {
      "main": [
        [
          {
            "node": "Normalize Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram": {
      "main": [
        [
          {
            "node": "Merge Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook": {
      "main": [
        [
          {
            "node": "Merge Channels",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Channels": {
      "main": [
        [
          {
            "node": "Build Triage Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Triage Prompts": {
      "main": [
        [
          {
            "node": "Triage LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triage LLM": {
      "main": [
        [
          {
            "node": "Validate Triage JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Triage JSON": {
      "main": [
        [
          {
            "node": "Route by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Category": {
      "main": [
        [
          {
            "node": "Notify Vet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Booking Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consulta Placeholder Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seguimiento Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Placeholder Reply": {
      "main": [
        [
          {
            "node": "Reply to Telegram User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seguimiento Reply": {
      "main": [
        [
          {
            "node": "Reply to Telegram User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Reply": {
      "main": [
        [
          {
            "node": "Reply to Telegram User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
